<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:fragment="config">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="/image/favicon.ico"/>
	<title>만지작</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='/edd_templates/edd.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='/css/style.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='/css/font-awesome.css' type='text/css' media='all'/>
	
	
	<!-- UNCOMMENT THE FOLLOWING LINE TO ACTIVATE THE BOXED LAYOUT (see the documentation for more)-->
	
	<!--  
	<link href="/css/boxed.css" rel="stylesheet">
	-->
	
	<!-- CHANGE THEME SKIN COLOR HERE (replace blue with any other color from assets/css/skins/ folder) -->
	<link href="/css/skins/bluedark.css" rel="stylesheet">
	
	

	
</head>
</html>