<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<body>

	<!-- FOOTER
		================================================== -->
	<footer th:fragment="footer" class="themefooter section medium-padding bg-graphite">
		<div class="container">
			<div class="section-inner row">
				<div class="column column-1 col-md-12 rightbd">
					<div class="widgets">
						<div class="widget widget_text">
							<div class="widget-content">
								<h3 class="widget-title">About &nbsp; &nbsp;<span style="font-size: 2rem;">만지작&nbsp;&#39;作&#39;</span></h3>
								<div class="textwidget"> 만지작 &#39;作&#39;은... <br> 공예품에 관심있는 사람들이 모여 공방 작가님들의 원데이 클래스 예약 서비스를 제공하며, 회원간의 소통과 회원과 작가님들과의 소통을 위한 공예품 멀티 플랫폼입니다. </div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<!-- /footer-a -->
				
				<div class="clear"></div>
			</div>
			<!-- /footer-inner -->
		</div>
		<!-- /grid -->
		<div class="sectioncredits">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<span class="credits-left fleft"> 2015 &copy; All Rights
							Reserved, WowThemes.net </span>
						<ul class="footermenu fright">
							<li><a href="index.html">Home</a></li>
							<li><a href="shop.html">Shop</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="myaccount.html">My Account</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<!-- /grid -->
		</div>
		<!-- /sectioncredits -->
	</footer>
	<!-- /footer -->
</body>
</html>