<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<body>

<!-- HEADER
    ================================================== -->
<nav th:fragment="header" id="wow-menu"
     class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href='http://localhost:8090/main'>
                <img alt="만지작" src="/image/logo.png" style="margin-top: -15px;">
            </a>
        </div>
        <!-- Menu -->
        <div id="bs-example-navbar-collapse-1"
             class="collapse navbar-collapse">
            <ul id="menu-top" class="nav navbar-nav navbar-right">
                <li class="active"><a href="/main">Home</a></li>
                <li><a href="http://localhost:8090/class">class</a></li>
                <li><a href="#">Exhibition</a></li>
                <li><a href="http://localhost:8090/feed/feed">Feed</a></li>
                <li><a href="http://localhost:8090/qna/list">QnA</a></li>
                <li><a href="http://localhost:8090/shop">Shop</a></li>
                <!-- 로그인 X -->
                <li th:if="${session.user == null}"><a href="/member/login">Login</a></li>

                <!-- 로그인 O -->
                <li th:if="${session.user != null}" class="dropdown" style="padding: 10px;">
                    <img src="/image/01.jpg" style="width: 30px; height: 30px; border-radius: 30px; margin-right: 5px;"><span th:text="|${session.user.name}님|"></span>
                        <ul class="dropdown-menu" style="width: 50px; margin-left: 50px;">
                            <li th:if="${session.user.lv != '3'}"><a href="http://localhost:8090/mypage">MyPage</a></li>
                            <li th:if="${session.user.lv != '3'}"><a href="http://localhost:8090/member/kakaologout">Logout</a></li>
                            <li th:if="${session.user.lv == '3'}"><a href="http://localhost:8090/admin/adminpage">AdminPage</a></li>
                            <li th:if="${session.user.lv == '3'}"><a href="http://localhost:8090/admin/logout">Logout</a></li>
                        </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>