<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/base}"
	  layout:fragment="content">

<body>

<!-- PAGE CONTENT
================================================== -->
<div class="shoppage">

	<!-- TITLE BEGINS -->
	<div class="headerimage">
		<div class="headercontent">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="fleft">
							<h1>Shop</h1>
						</div>
						<div class="fright breadc">
							<a href="main">Home</a> / Class
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- TITLE ENDS -->

	<div class="container padbot30">
		<div class="row padtop30 padbot20">
			<div class="col-md-12">
						<span class="pagesit fleft">
							Showing page [[${paging.nowPage}]] of [[${paging.totalPage}]]
						</span>
				<div class="sortitemsarea fright">
					<form method="GET" action=" " class="wowsortitems">
						<select name="data" id="data" onchange='this.form.submit()'>
							<option value="1">Sort by newest</option>
							<option value="2">Sort by price: low to high</option>
							<option value="3">Sort by price: high to low</option>
							<option value="4">Sort by popularity</option>
							<option value="5">Sort by oldest</option>
							<option value="6">Sort by comments</option>
							<option value="7">Sort alphabetically</option>
						</select>
						<noscript>
							<input type="submit" value="Submit">
						</noscript>
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- MAIN CONTENT BEGINS -->
			<div class="col-md-9">
				<div class="wowitemboxlist">
					<div class="wowitembox" th:each="dto : ${list}">
						<div class="wowitemboxinner">
							<div class="imagearea">
								<img style="width: 555px; height: 200px; object-fit: cover;" th:src="'/image/class/'+${dto.image}"/>
								<div class="caption">
									<div class="blur">
									</div>
									<div class="caption-text">
										<div class="captionbuttons">
											<a th:href="@{/classviewdetails(seq=${dto.seq})}" class="captiondetails"><i class="fa fa-link"></i> View Details</a>
										</div>
									</div>
								</div>
							</div>
							<div class="notesarea">
								<div class="title" style="height: 40px; overflow: hidden;">
									<a th:href="@{/classviewdetails(seq=${dto.seq})}" >
										<h2 th:text="${dto.name}"></h2>
									</a>
								</div>
								<div class="description" th:text="${dto.intro}" style="height: 64px; overflow: hidden"></div>
								<div class="notesbottom">
									<div class="price fleft" th:text="|${dto.price}원|"></div>
									<div class="cart fright">
										<a href="productsingle-nosidebar" class="edd-add-to-cart">
											<span class="edd-add-to-cart-label">예약하기</span>
										</a>
									</div>
									<div class="clearfix">
									</div>
								</div>
							</div>
						</div>
						<!-- .wowitemboxinner-->
					</div>
					<!-- .wowitembox-->
				</div>
				<div class="clear">
				</div>
				<div class='pagination' th:utext="${paging.pageBar}"></div>
				<div class="clear">
				</div>
			</div>
			<!-- MAIN CONTENT ENDS -->

			<!-- SIDEBAR BEGINS -->
			<div class="col-md-3">
				<div id="secondary" class="widget-area" role="complementary">
					<aside id="search-class" class="widget widget_text">
						<h1 class="widget-title section-title"><span>Search in Class</span></h1>
						<div class="textwidget">
							<form role="search" method="get" class="search-form" action="#">
								<input type="search" class="search-field" placeholder="Type and hit enter..." value="" name="s" title=""/>
								<input type="hidden" name="post_type" value="download">
							</form>
						</div>
					</aside>
					<aside id="search-shop" class="widget widget_text">
						<h1 class="widget-title section-title"><span>Search in Shop</span></h1>
						<div class="textwidget">
							<form role="search" method="get" class="search-form" action="#">
								<input type="search" class="search-field" placeholder="Type and hit enter..." value="" name="s" title=""/>
								<input type="hidden" name="post_type" value="download">
							</form>
						</div>
					</aside>
					<aside id="edd_categories_tags_widget-3" class="widget widget_edd_categories_tags_widget">
						<h1 class="widget-title section-title"><span>Categories</span></h1>
						<ul class="edd-taxonomy-widget">
							<li class="cat-item"><a href="#">주방용품</a></li>
							<li class="cat-item"><a href="#">욕실용품</a></li>
							<li class="cat-item"><a href="#">인테리어소품</a></li>
							<li class="cat-item"><a href="#">패션/잡화</a></li>
							<li class="cat-item"><a href="#">디퓨저/캔들/향수</a></li>
							<li class="cat-item"><a href="#">문구/사무</a></li>
						</ul>
					</aside>
				</div>
			</div>
			<!-- SIDEBAR ENDS -->

		</div>
	</div>
</div>
</body>
</html>