<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li th:text="|인가코드 = ${code}|">code</li>
<li th:text="|유효토큰 = ${access_token}|">code</li>
<li th:text="|사용자정보 = ${userInfo}|">code</li>
<li th:text="|동의정보 = ${agreementInfo}|">code</li>
<!--<a href="http://localhost:8090/member/logout">로그아웃</a>-->
<a href="http://localhost:8090/member/kakaologout">로그아웃</a>
<a href="http://localhost:8090/member/kakaounlink">회원탈퇴</a>
<!--<a href="https://kauth.kakao.com/oauth/logout?client_id=c1704b42e1333bc0cfe4a11e98bc4823&logout_redirect_uri=http://localhost:8090/member/gongbang">회원탈퇴</a>-->
</body>
</html>