<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/base}"
      layout:fragment="content">

<body>

<!-- TITLE BEGINS -->
<div class="headerimage">
    <div class="headercontent">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="fleft">
                        <h1>QnA</h1>
                    </div>
                    <div class="fright breadc">
                        <a href="http://localhost:8090/main">Home</a> / QnA
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear text-center sectionlatestitems" style="margin-top: 30px">
    <form class="bs-example bs-example-form" data-example-id="input-group-with-button"
          style=" margin-left: 930px;">
        <div class="row">
            <div class="col-lg-6" style="width: 300px;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
							  </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <button style="margin-right: 200px; color: #777" type="button" class="btn btn-default"
                    onclick="location.href='http://localhost:8090/qna/insertqna'"><i class="fa fa-pencil"></i> write
            </button>
        </div>
    </form>
    <div id="homepagetemplate" class="container padtop10 padbot40" style="margin-top: 20px; min-height: 1000px;">
        <table class="table">
            <thead>
            <tr>
                <td>No.</td>
                <td>제목</td>
                <td>작성일</td>
                <td>작성자</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lists : ${list}">
                <td th:text="${lists.seq}"></td>
                <td th:text="${lists.title}"></td>
                <td th:text="${lists.regdate}"></td>
                <td th:text="${lists.nickname}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>