<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{common/base}"
	layout:fragment="content">
<link rel="stylesheet" href="/css/feed.css">
<script async defer data-website-id="d3970eeb-d0e7-4399-9668-759bae11de75" src="https://analytics.meta.pimjo.com/umami.js"></script>

<body>
		
	<section class="mt-4 mb-5">

<div class="container-fluid">
	<div class="row">
		<div class="card-columns">
			<div class="card card-pin" th:each="dto:${list}">
				<img class="card-img" th:src="'/image/feed/'+${dto.image}" alt="Card image">
				<div class="overlay">
					<h2 class="card-title title" th:text="${dto.content}"></h2>
					<div class="more">
						<a href="post.html">
						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
</section>

</body>
</html>
