<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/base}"
      layout:fragment="content">

<body class="bg-light">
<div class="boxedlayout">
    <!-- TITLE BEGINS -->
    <div class="headerimage">
        <div class="headercontent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="fleft">
                            <h1>Feed</h1>
                        </div>
                        <div class="fright breadc">
                            <a href="index.html"> Home </a> / <a href="feed.html">Feed</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="mt-4 pt-5 ">
    <div class="container">
        <div  style="text-align: center">글쓰기</div>
        <div class="row justify-content-center">

            <form th:action="@{/upload}" method="POST" enctype="multipart/form-data">
                <table>
                    <tr>
                        <th>사진</th>
                        <td><input id="post_image" name="file" type="file" placeholder="사진파일"></td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td><input id="post_content" name="content" type="textarea"></td>
                    </tr>
                </table>
                <a href="/">목록으로</a>
                <button type="submit" id="insert">저장</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>