<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/base}"
      layout:fragment="content">

<style>

    img{
        object-fit: cover;

    }
    .card-img {
        width: 40px;
        height: 40px;
        border-radius: 70%;
        margin-top: 10px;
        margin-right: 5px;
    }

</style>


<body class="bg-light">
<div class="headerimage">
    <div class="headercontent">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="fleft">
                        <h1>Feed</h1>
                    </div>
                    <div class="fright breadc">
                        <a href="index.html"> Home </a> / <a href="feed.html">Feed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 pt-5 "> <!-- 본문-->
    <div class="container">

        <div>
        <th:block th:if="${#strings.substring(session.user.image, 0, 5) == 'http:'}">
            <img class="card-img"
                 th:src="@{${feedmember.pimage}}">
        </th:block>
        <th:block th:if="${#strings.substring(session.user.image, 0, 5) != 'http:'}">
            <img class="card-img"
                 th:src="@{/image/member/} + ${feedmember.pimage}">
        </th:block>

        <h1 th:text="${feedmember.nickname}"></h1>
        </div>
        <!--<a   th:if="${aseq == feedview.aseq}" th:href="@{/mypage}" >내 정보 보기</a>-->

        <!--<h5><span th:text="${feedprofile.nickname}"></span></h5>-->

        <h6>게시물 수 : <span th:text="${#lists.size(feedprofile)}"></span></h6>
         <!--팔로워 :<span th:text="${followers}"></span> 팔로잉:<span th:text="${followings}"></span> </h6>-->

        <!--<a  sec:authorize="isAuthenticated()" th:if="${!loginId.toString().equals(user.id.toString())}" class="btn btn-primary m-2" th:href="'/user/follow/'+${user.id}" >팔로우하기</a>
        <a  sec:authorize="isAnonymous()"  class="btn btn-primary m-2" th:href="'/user/follow/'+${user.id}+'/login'" >팔로우하기</a>-->


        <hr/>
        <div class="row justify-content-center">

            <!-- postList 하나씩 보여줌 -->
            <div class="card mb-5 " style="width: 300px; margin-bottom: 10px;" th:each="feedprofile : ${feedprofile}">
                &lt;!&ndash; 이미지&ndash;&gt;
                <a  th:href="@{/feed/feedview(seq=${feedprofile.seq})}" >
                    <img th:src="'/feed/'+${feedprofile.image}" class="card-img-top" alt="...">
                </a>
            </div>


        </div>
    </div>
</div>


</div>

</body>
</html>