<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/base}"
      layout:fragment="content">


</head>
<body class="bg-light">

<div class="mt-5 pt-5 "> <!-- 본문-->
    <div class="container">
        <div style="text-align: center">수정하기</div>
        <div class="row justify-content-center">

            <form th:action="'/update/'+${post.id}" method="POST" enctype="multipart/form-data">
                <table>
                    <tr>
                        <th>사진</th>
                        <td><input id="post_image" name="file" type="file" placeholder="사진파일" th:value="${post.image}">
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td><input id="post_content" name="content" type="textarea" th:value="${post.content}"></td>
                    </tr>
                </table>
                <a href="/">목록으로</a>
                <button type="submit" id="update">수정</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>