<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop">
    <select id="list" resultType="com.test.gongbang.shop.service.ShopDTO">
        select * from tblShop order by SEQ asc
    </select>
    <select id="searchall" parameterType="hashmap" resultType="com.test.gongbang.shop.service.ShopDTO">
        select
            *
        from tblShop
            where nickname like '%'||#{searchWord}||'%' or address like '%'||#{searchWord}||'%'
    </select>
    <select id="searchshop" parameterType="hashmap" resultType="com.test.gongbang.shop.service.ShopDTO">
        select
            *
        from tblShop
        where nickname like '%'||#{searchWord}||'%'
    </select>
    <select id="searchaddress" parameterType="hashmap" resultType="com.test.gongbang.shop.service.ShopDTO">
        select
            *
        from tblShop
        where address like '%'||#{searchWord}||'%'
    </select>
</mapper>