<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/base}"
      layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<style>

    .table td {
        text-align: left;
    }

    #shopImage {
        text-align: center;
        width: 200px;
        padding-left: 20px;
        padding-right: 50px;
    }

    #shopNickname {
        font-size: 23px;
        font-weight: bold;
        color: #555;
    }

    .table>tbody>tr>td {
        vertical-align: middle;
    }

    .table {
        width: 100%;
        margin-bottom: 0px;
    }

</style>
<body>
    <div class="headerimage">
        <div class="headercontent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="fleft">
                            <h1>SHOP</h1>
                        </div>
                        <div class="fright breadc">
                            <a href="http://localhost:8090/main">Home</a> / Shop
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear text-center intersectionalities" style="margin-top: 30px; margin-bottom: 30px;">
        <form class="form-inline" id="shopSearch" data-example-id="input-group-with-button" method="get" action="/shop" style="margin-left: 850px;">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-btn">
                        <select name="searchType" form="shopSearch" class="form-select" style="width:100px; height: 34px; border-color: #eee; margin-right: 10px;">
                            <option value="1">전체</option>
                            <option value="2">공방명</option>
                            <option value="3">주소</option>
                        </select>
                    </div>
                    <input class="form-control" name="searchWord" placeholder="Search for..." type="text">
                    <div class="input-group-btn" style="vertical-align: top;">
                        <button class="btn btn-default" type="submit">
                            <i class="fa  fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div id="homepage-template" class="container pad top10 pad-bot40" style="margin-top: 20px; min-height: 1000px;">
            <div class="row">
                <div class="col-md-6" th:each="list : ${list}">
                    <table class="table">
                        <tr>
                            <td rowspan="4" id="shopImage">
                                <div style="width: 200px; height: 200px;">
                                    <img style="height: 200px; object-fit: cover; border-radius: 10px;" th:src="@{'/image/shop/' + ${list.image}}"/>
                                </div>
                            </td>
                            <td class="shopInfo" id="shopNickname" th:text="${list.nickname}"></td>
                        </tr>
                        <tr>
                            <td class="shopInfo" th:text="${list.address}" style="border: none"></td>
                        </tr>
                        <tr>
                            <td class="shopInfo" th:text="${list.name}"></td>
                        </tr>
                        <tr>
                            <td class="shopInfo" th:text="${list.tel}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>